<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
</head>
<body>
<h1>Formulario de Usuario</h1>
<form th:action="@{/usuarios/guardar}"
      th:object="${usuario}"
      method="post">
    <input type="hidden"
           th:field="*{id}">
    <label>Nombre:</label>
    <input type="text"
           th:field="*{nombre}"
           required>
    <br><br>
    <label>Contraseña:</label>
    <input type="password"
           th:field="*{contraseña}"
           required>
    <br><br>
    <button type="submit">
        Guardar
    </button>
</form>
<br>
<a th:href="@{/usuarios}">
    Volver
</a>
</body>
</html>