<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>
<h1>Usuarios</h1>
<a th:href="@{/usuarios/nuevo}">
    Crear usuario
</a>
<h2>Buscar usuario por ID</h2>
<form th:action="@{/usuarios/buscar}" method="get">
    <input
            type="number"
            name="id"
            placeholder="ID del usuario"
            required>
    <button type="submit">
        Buscar
    </button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Contraseña</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.contraseña}"></td>
        <td>
            <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">
                Editar
            </a>
            <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.id})}">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>