<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehículo</title>
</head>
<body>
<h1>Vehículo</h1>
<form th:action="@{/vehiculos/guardar}"
      th:object="${vehiculo}"
      method="post">
    <label>Placa:</label>
    <input type="text"
           th:field="*{placa}"
           required>
    <br><br>
    <label>Marca:</label>
    <input type="text"
           th:field="*{marca}"
           required>
    <br><br>
    <label>Modelo:</label>
    <input type="text"
           th:field="*{modelo}"
           required>
    <br><br>
    <label>Versión:</label>
    <input type="text"
           th:field="*{version}"
           required>
    <br><br>
    <label>Color:</label>
    <input type="text"
           th:field="*{color}"
           required>
    <br><br>
    <label>Número de puestos:</label>
    <input type="number"
           th:field="*{numPuestos}"
           required>
    <br><br>
    <label>Número de puertas:</label>
    <input type="number"
           th:field="*{numPuertas}"
           required>
    <br><br>
    <label>Combustible:</label>
    <input type="text"
           th:field="*{combustible}"
           required>
    <br><br>
    <label>Kilómetros:</label>
    <input type="number"
           step="0.01"
           th:field="*{kilometros}"
           required>
    <br><br>
    <label>Cilindraje:</label>
    <input type="number"
           step="0.01"
           th:field="*{cilindraje}"
           required>
    <br><br>
    <label>Categoría:</label>
    <input type="text"
           th:field="*{categoria}"
           required>
    <br><br>
    <button type="submit">Guardar</button>
</form>
<br>
<a th:href="@{/vehiculos}">Volver</a>
</body>
</html>