<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Vehículos</title>
</head>
<body>
<h1>Sistema de Gestión de Vehículos</h1>
<p>Aplicación Spring Boot MVC</p>
<hr>
<h2>Usuarios</h2>
<ul>
    <li>
        <a th:href="@{/usuarios}">
            Gestionar usuarios
        </a>
    </li>
    </ul>
<h2>Vehículos</h2>
<ul>
    <li>
        <a th:href="@{/vehiculos}">
            Gestionar vehículos
        </a>
    </li>

</ul>
<hr>
